textarea, div#message, a{
    padding: 6px;
    border: 2px solid black;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #444;
}

textarea {
    width: 100%;
    height: 100%;

    font-size: 16px;
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 18px;
    
    resize: none;
    white-space: pre;

    outline: none;
    color: #639;
    background-color: #222;
    transition: border-color 0.1s;
}

textarea:focus {
    border-color: #306;
}

svg {
    height: 256px;
    width: 256px;

    background: white;
}

div#svg {
    margin: 8px auto;
    text-align: center;
}

div#textarea {
    height: 256px;
    margin-right: 16px;
    margin-bottom: 24px;
}

div#message {
    min-height: 18px;
    line-height: 18px;

    background-color: #111;
    color: #600;
    animation: refresh 1s;
}

div#information {
    display: none;
}

a {
    position: absolute;
    display: inline-block;

    color: black;
    text-decoration: none;
    background: #333;
}

a:last-of-type {
    margin-top: 36px;
}

a:active {
    color: green;
}

.refresh {
    animation: refresh 1s;
}

@keyframes refresh {
    0% { border-color: black;}
    10% { border-color: green;}
    100% { border-color: black;}
}